body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffe6e6;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.heart {
  position: relative;
  width: 400px;
  height: 400px;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 320px;
  background: #ff3366;
  border-radius: 100px 100px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  top: 0;
  left: 100px;
}

.heart:after {
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  left: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 1.4;
}
